{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'inicio' %}">Manga Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'catalogo_mangas' %}">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Carrito de compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'perfil' %}">Usuario</a>
                </li>
                <li><a href="/login/">Iniciar sesión</a></li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'mangas_extras' %}">Datos externos</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
